{% extends 'base.html' %}

{% block content %}

<h1>{{profile.user}}</h1>


<img src = "{{request.user.profile.picture.url}}" default='default-profile-img.png' width ="200px">
{% comment %} {{request.profile.user.picture.url}} {% endcomment %}

<h5> User since : {{profile.user.date_joined}} </h5>
{{profile.currentcity}}

{%if request.user == profile.user%}
<a class ='btn blue' href = "{% url 'edit' profile.id %}">Edit </a>
<a class ='btn btn-default' href = "{% url 'add_post' profile.id %}">New Post </a>
{% endif %}

<h5> All Posts </h5>
<ul>
{% for post in profile.post_set.all%}
<li><a href="{% url 'postdetail' post.id %}">{{post.title}}</a> </li>
{% endfor %} 
</ul>
{% endblock content %}



