{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{request.user.profile.picture.url}}">
    </div>
    <div class="card-content blue">
        <p class="card-title activator white-text">
            <h4>{{profile.user}}</h4>
        </p>
        <p>
            <a href="#" class="white-text">
                <h6>{{profile.currentcity}}</h6>
            </a>
            <span class="left">
                <a href = "{% url 'edit' profile.slug %}" class="white-text">Edit</a>
            </span>
            <span class="white-text right">User since: {{profile.user.date_joined}}</span>
        </p>
        <p>
        </p>
    </div>
</div>

    <div class="row">
        <div class="col s12 right">        
            <p><a href="{% url 'add_post' profile.slug %}" class="right">New Post</a></p>
        </div>
    </div>
    
<div class="col s12 m7">
    <h2 class="header">Recent Posts</h2>
        {% for post in profile.post_set.all%}
        <div class="card horizontal">
            <div class="card-image">
                <img src="nfodw">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'postdetail' post.id %}">{{post.title}}</a>
                </div>
            </div>
        </div>
        {% endfor %} 
  </div>


        

{% endblock content %}



