{% extends 'base.html' %}

{% block content %}
 
<h5 class="profile">{{profile.user}}</h5>
<div class="row" id="profile-row"> 
    <div class="col s4">
        <h5 class="light-green-text text-darken-2"> All Posts </h5>
    <ul>
    {% for post in profile.post_set.all%}
    <li><a href="{% url 'postdetail' post.id %}">{{post.title}}</a> </li>
    {% endfor %} 
    </ul>
    </div>
    <div class="col s4">
        <img src = "{{profile.picture.url}}" alt ="picture" width ="200px" class="image">
    </div>
    <div class="col s4">
            {%if request.user == profile.user%}
        <h5 class="light-green-text text-darken-2">City: {{profile.currentcity}}</h5>
        <a href = "{% url 'edit' profile.slug %}">Edit </a>
        <a href = "{% url 'add_post' profile.slug %}">New Post </a>
        {% endif %}
        <p> User since : {{profile.user.date_joined}} </p>
    </div>
</div>

{% endblock content %}