{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{profile.picture.url}}g">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
</div>

<h5 class="profile">{{profile.user}}</h5>
<div class="row" id="profile-row"> 
    <div class="col s4">
        <h5 class="light-green-text text-darken-2"> All Posts </h5>
    <ul>
    {% for post in profile.post_set.all%}
    <li><a href="{% url 'postdetail' post.id %}">{{post.title}}</a> </li>
    {% endfor %} 
    </ul>
    </div>
    <div class="col s4">
        <img src = "{{profile.picture.url}}" alt ="picture" width ="200px" class="image">
    </div>
    <div class="col s4">
            {%if request.user == profile.user%}
        <h5 class="light-green-text text-darken-2">City: {{profile.currentcity}}</h5>
        <a href = "{% url 'edit' profile.id %}">Edit </a>
        <a href = "{% url 'add_post' profile.id %}">New Post </a>
        {% endif %}
        <p> User since : {{profile.user.date_joined}} </p>
    </div>
</div>

{% endblock content %}