{% extends 'base.html' %}

{% block content %}

<!-- Create container for Cities on left and selected city/post on right-->
<!-- Page Layout here -->
    

    <!--- adding and blending old cities to new container-->
    {% comment %} <div class="row" id="all-cities">
    <div class="col s4" id="city-row">

        <ul>
        
        <div class="city-list">
        <li> <a href =  </a> </li>
        </div>
        
        </ul>
    </div> {% endcomment %}
    <!---- LEFT COLUMN-->
{% comment %} <div class="row" id="full-row"> {% endcomment %}
{% comment %} <h2 class="header">Cities</h2>
<div class="col s12" id="left-col">

{% for city in cities%}
<div class="col s12" id="left-block">
<div class="full-container">
<div class="row">
      <div class="col s4" id="grey-panel">
      <h2 class="header">Cities</h2>
        <!-- Grey navigation panel -->
        
        <div class="col-s12-m7" id="card-box-1">
    
    <div class="card horizontal">
      <div class="card-image" id="left-pic">
        <img src="/media/images/LA Night.jpg" alt="card-hz1" width="" height="165">
      </div>
      {% for city in cities%}
      <div class="card-stacked">
        <div class="card-content">
          <h6>Los Angeles</h6>
        </div>
        <div class="card-action">
        
          <a href="{% url 'citydetail' city.slug%}"> {{city.name}}</a>
        </div>
      </div>
    </div>
    
  </div>
  {% endfor %}
  </div> {% endcomment %}

{% comment %} Trying out Thicker Card Title {% endcomment %}
<h1> Cities </h1>
<div class="row" id="ci-row">
    {% for city in cities %}
    <a href="{% url 'citydetail' city.slug %}">
    <div class="col s12 m7" id="city-card">
    
      <div class="card" id="city-index-card" height="auto">
      {% comment %} <a href="{% url 'citydetail' city.slug%}"> {% endcomment %}
        <div class="card-image" id="c-img">
        {% if city.picture %}
          <img class="responsive-img" src="{{city.picture.url}}">
          {% else %} <img class="responsive-img" src="/media/images/01-lion-populations-nationalgeographic_1777804.jpg"
        {% endif %}
          <span class="card-title id="ct""><h2>{{ city.name }}</h2></span>
        </div>
        {% comment %} <div class="card-content">
          <h2>City Name</h2>
        </div>
        <div class="card-action">
          
        </div> {% endcomment %}
      </div>
    </div>
    </a>
    {% endfor %}
  </div>


<!---end of row-->
  {% comment %} </div> {% endcomment %}
 
    {% comment %} <div class="col s8">
        <!-- Teal page content  -->
        <div class="">
            <h1> Selected{{ city.id }} </h1>
            <img src="/media/images/LA Night.jpg">
            <ul>
           
            </ul>
        </div>
        {% comment %} <div class="col s8 offset-s4"> {% endcomment %}
    
    <div class="row">
</div> 

<script>

</script>

{% endblock content %}


