body {
    background-color: #e0e0e0;
}

.profile {
    margin-bottom: 30px;
    margin-top: 100px;
}

#left {
    border-left: 1px solid;
}

#right {
    border-right: 1px solid;
    border-left: 1px solid;
}

.hoverable:hover {
    background-color: #03a9f4;
}

.image {
    margin: 25px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #03a9f4;
    width: 150px;
    height: 150px;
}

#profile-row {
    border-top: 1px solid;
}

#car-home {
    height: 200px;
    
}
/* Cities index page */
#city-row {
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    height:20px;
    width:20;

}

#city-list {
    border-radius: 1px;

}

#city-card-image {
    height:100%;
}

#grey-panel {
    border-right: 1px solid;

}

.col-s12-m7 {
    border-radius: 0px;
    width: 400px;
    border-width: medium;


}

.full-container {
    margin-bottom: 30px;
    height: 100vh;
    width: 80vw;
}