body {
    background-color: black;
}

.profile {
    /* margin-bottom: 30px; */
    margin-top: 100px;
}

#left {
    border-left: 1px solid;
    border-color: white;
}

#right {
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: white;
}

#top {
    margin-top: 0;
}

.hoverable:hover {
    background-color: #03a9f4;
}

.head-opt {
    margin: 0;
    padding: 25;
}

.head-opt:hover {
    background-color: rgb(3, 169, 244);
}

.image {
    margin: 25px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #03a9f4;
    width: 150px;
    height: 150px;
}

#profile-row {
    border-top: 1px solid;
}

.recent {
    margin-top: 30px;
    margin-bottom: 40px;
}