{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src= "{{ post.profile.picture.url}}" alt="picture" width="200px"  >
<br>

<h1> {{post.title}} </h1>

<br>
{{post.date}} PST
<br>
Written by {{post.profile.firstname}} {{post.profile.lastname}}
<br>
{{post.content}}

<!-- DELETE POP UP WINDOW-->

<div id = "deletediv">
<h1> Are you sure you want to delete {{post.title}}? </h1>
<a href = "{% url 'deletepost' post.id %}" class = 'btn-small red'> Yes </a>
<a id = "no" class = 'btn-small'> No </a>
</div>

<!-- END OF DELETE POP UP WINDOW-->

<br>
<a class = "btn-small"href="{% url 'postedit' post.id%} "> Edit </a> <br>
<a id = "firstdelete" class = "btn-small red"> Delete </a>


<script>
$('#deletediv').hide()

$('#firstdelete').click(function(){
    $('#deletediv').show()
})

$('#no').click(function(){
    $('#deletediv').hide()
})
</script>
{% endblock content %}

