{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src= "{{ post.profile.picture.url}}" alt="picture" width="200px"  >
<br>

<h1> {{post.title}} </h1>

<br>
{{post.date}} PST
<br>
Written by {{post.profile.firstname}} {{post.profile.lastname}}
<br>
{{post.content}}
{% if request.user.profile == post.profile%}
<!-- DELETE POP UP WINDOW-->
{% comment %} <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> {% endcomment %}

<div id = "deletediv" class="modal">
 <div class="modal-content">
    <h1> Are you sure you want to delete {{post.title}}? </h1>
    <a href = "{% url 'deletepost' post.id %}" class = ' waves-effect waves-light btn modal-trigger btn-small red'> Yes </a>
    <a id = "no" class = 'btn-small'> No </a>
 </div>
 <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
 </div>
</div>

<!-- END OF DELETE POP UP WINDOW-->

<br>
<a class = "btn-small"href="{% url 'postedit' post.id%} "> Edit </a> <br>
<a id = "firstdelete" class = "btn-small red"> Delete </a>
{% endif %}

<!-- Modal Trigger -->



<script>
$(document).ready(function(){
    $('.modal1').modal();
});

$('#deletediv').hide()

$('#firstdelete').click(function(){
    $('#deletediv').show()
})

$('#no').click(function(){
    $('#deletediv').hide()
})
</script>
{% endblock content %}

